* {
	margin: 0;
	padding: 0;
	font-family: verdana, sans-serif;
	box-sizing: border-box;
}

.nav {
	width: 100%;
	height: 87px;
	background: #C2185B;
	display: flex;
	position: fixed;
	z-index: 5;
}

.div-logo {
	width: 20%;
	padding: 20px 0 0 20px;
}

.div-menu {
	width: 80%;
}

.menu {
	display: flex;
	list-style: none;
	float:right;
	height: 30px;
	margin-right: 25px;
	margin-top: 25px;
}	

.menu-item {
	height: 30px;
	margin-left: 15px;
}

.menu-item a {
	font-size: 18px;
	height: 30px;
	line-height: 30px;
	color: #FFF;
	display: block;
	text-decoration: none;
	text-align: center;
	vertical-align: center;
	transition: all 0.2s linear;
}

.menu-item:hover {
	height: 35px;
	border-bottom: 5px solid;	
	border-color: #fff;
}

.banner-container {
	position: absolute;
	width: 100%;
	height: 390px;
	margin-top: 87px;
}

.div-banner {
	width: 100%;
	height: 100%;
}

.img-banner {
	width: 100%;
}

.div-sombra-banner {
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.3;
	z-index: 2;
	position: absolute;
}

.div-descricao-banner-sombra {
	position: absolute;
	z-index: 3;
	margin-left: 860px;
	margin-top: 120px;
	width: 479px;
	height: 250px;
	color: #FFF;
	background-color: #000;
	opacity: 0.6;
}
.titulo-desc-banner {
	margin-left: 20px;
	margin-top: 20px;
	font-weight: bold;
	font-size: 20px;
	color: #FFF;
}

.texto-desc-banner {
	margin-left: 20px;
	margin-top: 20px;
	font-size: 18px;
	color: #FFF;
}

.div-separador-titulo-descricao {
	width: 389px;
	height: 2.5px;
	background-color: #C2185B; 
  position: absolute;
  top: 53px;
  left: 21px;
}

.produtos-destaque-container {
	
}

.div-titulo-produtos-destaque {
	position: absolute;
	margin-left: 0px;
	margin-top: 477px;
	width: 100%;
	height: 100px;
}

.div-titulo-produtos-1 {
	position: absolute;
	margin-left: 40px;
	margin-top: 520px;
	width: 340px;
	height: 40px;
	background-color: #C2185B; 
	color: #FFF;
}

.div-titulo-produtos-2 {
	position: absolute;
	margin-left: 350px;
	margin-top: 557px;
	width: 100px;
	height: 3px;
	background-color: #C2185B;
}

.div-titulo-produtos-destaque-texto {
	position: absolute;
	margin-left: 60px;
	margin-top: 525px;
	font-size: 26px; 	 
	color: #FFF;
}

.div-produtos {
	display: flex;
	flex-direction: column;
}

.div-produtos-destaque {
	margin-top: 600px;
	margin-left: 40px;
	width: 402px;
	height: 403px;
	background-color: #EEEEEE;
	box-shadow: 2px 2px 2px #777;
}

.img-produto {
	margin-left: 10px;
	margin-top: 10px;
}

.div-texto-titulo-produto {
	color: #526CFE;
	margin-top: 5px;
	margin-left: 12px;
	font-size: 20px;
}

.div-texto-produto {
	margin-top: 15px;
	margin-left: 12px;
	font-size: 18px;
	color: #000;
}

.div-separador-servico {
	width: 1300px;
	height: 2px;
	background-color: #536DFE;
	margin-left: 40px;
	margin-top: 40px;
}

.div-titulo-servico-1{
	margin-left: 40px;
	margin-top: 30px;
	width: 340px;
	height: 40px;
	background-color: #C2185B; 
	color: #FFF;
}

.div-titulo-servico-2 {
	margin-left: 350px;
	margin-top: -3px;
	width: 100px;
	height: 3px;
	background-color: #C2185B;
}


.div-servicos {
	display: flex;
	flex-direction: column;
}

.div-servico-1 {
	width: 1289px;
	height: 290px;
	margin-left: 40px;
	margin-top: 40px;
	background-color: #EEEEEE;
	box-shadow: 3px 3px 3px #777;
}

.div-titulo-servico-texto {
	margin-left: 10px;
	margin-top: 15px;
	font-size: 24px;
	color: #FFF;
}

.img-servico {
	margin-top: 15px;
	margin-left: 15px;
}

.div-titulo-servico {
	margin-left: 600px;
	margin-top: -265px;
	font-size: 34px;
	color: #526CFE;
}

.div-texto-servico {
	color: #000000;
	margin-left: 600px;
	margin-top: 20px;
	font-size: 20px;
}

.div-separador-contato {
	width: 1300px;
	height: 2px;
	background-color: #536DFE;
	margin-left: 40px;
	margin-top: 40px;
}

.div-titulo-contato-1{
	margin-left: 40px;
	margin-top: 30px;
	width: 340px;
	height: 40px;
	background-color: #C2185B; 
	color: #FFF;
}

.div-titulo-contato-2 {
	margin-left: 350px;
	margin-top: -3px;
	width: 100px;
	height: 3px;
	background-color: #C2185B;
}

.div-titulo-contato-texto {
	margin-left: 10px;
	margin-top: 20px;
	font-size: 26px;
	color: #FFF;
}

.div-formulario-geral {
	display: flex;
	justify-content: space-start;
}

.div-formulario {
	margin-top: 20px;
	margin-left: 40px;
	width: 40%;
	height: 600px;
}

.edit {
	width: 476px;
	height: 58px;
	margin-bottom: 10px;
	margin-left: 0px;
	margin-top: 10px;
	font-size: 20px;
	font-style: #DDDDDD;
	text-indent: 10px;
	border-color: #C2185B;
}
.mensagem {
	width: 476px;
	height: 137px;
	margin-bottom: 10px;
	margin-left: 0px;
	margin-top: 10px;
	font-size: 20px;
	text-decoration: #DDDDDD;
	text-indent: 10px;
	border-color: #C2185B;
}

.botao {
	width: 143px;
	height:41px;
	margin-left: 335px;
	margin-top: 20px;
	background-color:  #C2185B;
	border-style: none;
	font-size: 25px;
	text-align: center;
	color: #FFF;
}

.div-image-map {
	position: relative;
	width: 55%;
	height: 447px;
}

.div-image-map img {
	width: 100%;
}

.div-numero-telefone {
	font-size: 35px;
	color: #fff;
	background-color: #000;
}

.div-opacity-telefone {
	position: absolute;
	top:0;
	width: 100%;
	height: 80px;
	padding-left: 10px;
	padding-top: 15px;
	background-color: #000;
	opacity: 0.7;
}

.footer {
	width: 100%;
	height: 50px;
	text-align: left;
	font-size: 30px;
	text-indent: 20px;
	color: #fff;
	background-color: #C2185B;
}